/*  .row > * {
  border: 1px solid red;
}  */


/* Ceci évite Scrool quand la page s'actualise avec Live server | Utiliser uniquement en dévéloppement*/
html {
    scroll-behavior: smooth !important;
}

/////////////////////////////////////
// 1. Patron de couleurs
////////////////////////////////////
$principal: #F15A24;
$secundario: #293549;
$texto: #494949;

///////////////////////////////////////
// 2. On modifie des variables Bootstrap
//////////////////////////////////////

$primary: $principal; //Couleur principale
$secondary: $secundario; //Couleur secondaire
$font-family-base: "Open Sans", sans-serif; //Type de police
$body-color: $texto;//Couleur du texte
$font-size-root: 25px; //Taille du texte
$enable-negative-margins: true; // Habilitando los margenes negativos

// Componente Navbar
$navbar-toggler-padding-y: 0;
$navbar-toggler-padding-x: 0;
$navbar-toggler-focus-width: 0;
$navbar-dark-color: #fff;
$navbar-dark-hover-color: $principal;
$navbar-dark-active-color: $principal;


//Componente Buttoms
$btn-border-radius: 0.2rem;
$btn-padding-y: 0.8rem;
$btn-padding-x: 2.4rem;

////////////////////////////////////////////
// 3. Cargando funciones nativas de Bootstrap
////////////////////////////////////////////
@import "../libs/bootstrap/scss/functions";
@import "../libs/bootstrap/scss/variables";
@import "../libs/bootstrap/scss/mixins";


////////////////////////////////////////////
// 4. Api de utilidades personalizadas
////////////////////////////////////////////

$utilities: ( "Orden de capas": ( property: z-index, responsive: false, class: z-index, values: ( n2: -2, n1: -1, 0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, ), ), );

@import "../libs/bootstrap/scss/utilities";



////////////////////////////////////////////
// 5. Imprimiendo Bootstrap
////////////////////////////////////////////

/* @import "../libs/bootstrap/scss/bootstrap"; */

@import "../libs/bootstrap/scss/reboot";
@import "../libs/bootstrap/scss/type";
@import "../libs/bootstrap/scss/images";
@import "../libs/bootstrap/scss/containers";
@import "../libs/bootstrap/scss/grid";
@import "../libs/bootstrap/scss/forms";
@import "../libs/bootstrap/scss/buttons";
@import "../libs/bootstrap/scss/transitions";
@import "../libs/bootstrap/scss/nav";
@import "../libs/bootstrap/scss/navbar";
@import "../libs/bootstrap/scss/utilities/api";


///////////////////////////////////////
// 6. Estilos Generales
//////////////////////////////////////

@include media-breakpoint-up(lg) {
    :root {
        font-size: 20px;
    }
}

///////////////////////////////////////
// 7. Estilos para el encabezado
//////////////////////////////////////
.encabezado {
    background: url("../images/FondAccueilHeader.jpg") center center/cover fixed;

    @include media-breakpoint-up(lg) {
        background: url("../images/FondAccueilHeader.jpg") center center/cover fixed;
    }
}

// Clase Cover reutilizable | Aplica una capa semitransparente donde se inserte
.fondoCover {
    position: relative;

    &::before {
        content: "";
        background-color: $secundario;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 2;
    }

    & > * {
        position: fixed;
    }
}

.fondoCover > * {
    position: relative;
}
// Estilos Menu Toggle
.navbar-toggler i::before {
    transition: all 0.3s ease;
}

.navbar-toggler[aria-expanded="true"] i::before {
    content: "\f62a";
    color: $principal;
}
// Personalizamos el menu desplegable
@include media-breakpoint-down(md) {
    .navbar-nav {
        background: $secundario;
        border-radius: 0.3rem;
    }

    .navbar-dark .navbar-nav .nav-link {
        padding: 1rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: 0 1px rgba(0, 0, 0, 0.4);
    }
}

///////////////////////////////////////
// 8. Estilos para Plan de acción
//////////////////////////////////////
.tituloconLinea {
    margin: 0;
    padding: 0;

    &::after {
        content: "";
        display: block;
        width: 150px;
        border-bottom: 3px solid;
        margin: 1.3rem 0;
        position: relative;
        left: 50%;
        transform: translateX(-50%);

        @include media-breakpoint-up(lg) {
            width: 400px;
            margin: 1.8rem 0;
        }
    }
}

.planAccionItem {
    transition: box-shadow 0.3s ease;
}

.planAccionItem:hover {
    box-shadow: $box-shadow;
}

///////////////////////////////////////
// 9. Estilos para Te ayudamos
//////////////////////////////////////
.teAyudamos {
    background: url("../images/PhotoAgora.jpg") center center/cover;

    @include media-breakpoint-up(lg) {
        background: url("../images/PhotoAgora.jpg") center center/cover;
    }
}

///////////////////////////////////////
// 10. Estilos para Proyectos
//////////////////////////////////////

.itemProyecto {
    display: block;
    position: relative;
    overflow: hidden;

    &::before {
        content: "";
        background: $secundario;
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0;
        transition: opacity 0.2s ease;
    }

    &:hover::before {
        opacity: 0.8;
    }

    h3 {
        position: absolute;
        bottom: -3rem;
        margin-bottom: 0;
        width: 100%;
        text-align: center;
        color: rgb(49, 49, 49);
        transition: bottom 0.6s ease;
    }

    &:hover h3 {
        bottom: 3rem;
    }
}

///////////////////////////////////////
// 11. Estilos para el Pie de página
//////////////////////////////////////
.pieDePagina {
    a {
        color: #748494;
        text-decoration: none;
    }

    .redesSociales {
        a {
            color: #212529;
            background: #748394;
            width: 1.8rem;
            height: 1.8rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0.3rem;
        }
    }

    .creditos {
        border-top: 1px solid black;
    }

    .container-fluid{

        margin:inherit;
    }
}
