@model PitAgora.Models.Eleve;
@{   Layout = "_Layout";
    ViewBag.Title = "Accueil Espace Elève";
}

@section Fieldset{<h1>Bienvenue sur ton espace</h1>}

@section Champ1 {Salut bla bla bla @Model.Id}

Salut