@model PitAgora.Models.Eleve
@{
    Layout = "LayoutPrive";
    ViewBag.Title = "Accueil infos eleve";
}

@section Main{
    <div class="container -fluid">

     
            <p>Bonjour</p>


        <li>@Html.ActionLink("Reserver un cours", "ChercherCours","Eleve")</li>
    </div>

    <div>
    }
