@model PitAgora.Models.Eleve
@{
    Layout = "LayoutPrive";
    ViewBag.Title = "Accueil infos eleve";
}

@section Main{
    <div style="margin: 215px;padding:40px; place-items:center;">
        <div class="container" style="background-color: white">




            <li>Bonjour</li>


            <li>@Html.ActionLink("Reserver un cours", "ChercherCours", "Eleve")</li>
        </div>

        <div>

   <!--Script Bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
}
