@{
    Layout = "LayoutPrive";
    ViewBag.Title = "Agora";
}

@section Main{
    <p style="text-align:center; backdrop-filter:opacity(50); background-image:url(../../wwwroot/Images/agora.jpg); height:500px">
        Nos meilleurs architectes travaillent encore à vous créer un endroit spécial... Vous ne serez pas déçus.

    </p>
}
