@{
    Layout = "LayoutPrive";
    ViewBag.Title = "Agora";
}

@section Main{
    <div class="construction">
    <p style="background-image : url(../../wwwroot/Images/agora.jpg);">
        Nos meilleurs architectes travaillent encore à vous créer un endroit spécial... Vous ne serez pas déçus.

    </p>
    </div>
}
