@model List<PitAgora.ViewModels.CreneauResaViewModel>
@{
    Layout = "_Layout";

    ViewBag.Title = "Reservation d'un cours";
}




<h2>Cours disponibles</h2>

<table>
    <tr>
        <th>Professeur</th>
        <th>Id du créneau</th>
        <th>Heure de début</th>

    </tr>
@foreach (var item in @Model)
{
   <tr>
            <td>@item.NomProf</td>
            <td>@item.CreneauId</td>
            <td>@item.Debut.Hour:@item.Debut.Minute</td>
   </tr>

    
    
}
</table>


