@using PitAgora.Models;
@model List<PitAgora.ViewModels.PlanningViewModel>
@{
    Layout = "_Layout";

    ViewBag.Title = "Reservation d'un cours";
}

@section Css {
    <link href="~/css/Planning.css" rel="stylesheet" />
}

<script>
    const selectionnes = [];
    var statutModifie = false;
    var statut, prof;
</script>

<h3 style="margin-left: 20px">@Model.First().Jour</h3>

<div style="height:68px">
    <h2 style="float: left; width: 204px; padding-left: 20px">Cours disponibles</h2>
    <div style="float:left; width: 40%; padding:25px; font-size: large">Choisis au moins deux créneaux disponibles consécutifs</div>
    <button onclick="validerChoixCours()" class="boutonChoixCours">Valider</button>
    <div style="float:right; width: 25%; padding:25px; font-size: larger">Prix du cours : <span id="prixCours"> 0</span> euros</div>
</div>

<br />

@foreach (var item in @Model)
{
    <div class="enTetePlanning">Planning de @item.PrenomProf @item.NomProf :</div>
    <div class="ConteneurPlanning">
        @for (int k = 0; k < Creneau.NB_CRENEAUX_PAR_JOUR; k++)
            @if (item.Dispos[k])
            {
                <div id="@(Model.IndexOf(item)*100+k)" class="cellulePlanning dispo" onclick="changerStatut(this)" onmouseover="mOver(this)" onmouseout="mOut(this)"></div>
            }
            else
            {
                <div class="cellulePlanning nonDispo"></div>
            }
    </div>
    <br />
}
<br />

@section Scripts {
    <script src="~/Scripts/ScriptsChoisirCours.js"></script>
    <script src="~/Scripts/FormulesMetier.js"></script>
}
