@model PitAgora.ViewModels.HomeViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Accueil Espace Elève";
}

<h1>Bienvenue sur ton espace</h1>
<p>Bla bla</p>


@section Menu{
    <ul>
        <li class="selectionne">@Html.ActionLink("Accueil", "Index","Home")</li>
        <li>@Html.ActionLink("Modifier une personne", "ModifierPersonne", "Personne")</li>
        <li>@Html.ActionLink("Ajouter une personne", "CreerPersonne", "Personne")</li>
    </ul>
}