.table1 label {
    width: 150px;
    padding: 5px;
}

.table2 label {
    width: 250px;
}

.boutonValider {
    color: darkslategrey;
    background-color: rgba(241,90,36,.7);
    border: 2px solid rgb(241,90,36);
    border-radius: 8px;
    padding: 10px;
    margin: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    font-size: 80%;
}