* {
box-sizing: border-box;
}

.conteneurHeures {
    width: 100%;
    margin-left: 5px;
}

.heure {
    color: grey;
    float: left;
    width: calc(10% - 4px);
    height: 100%;
    font-size: small;
}

.derniereHeure {
    width: 0px;
}

.enTetePlanning {
    font-size: larger;
    margin-bottom : 5px;
    margin-left : 20px;
    display: inline-block;
}

.ConteneurPlanning {
    width: 100%;
    display: block;
    height: 25px;
    padding: 0px 20px;
}

.cellulePlanning {
    color: blue;
    float: left;
    width: 5%;
    height: 100%;
    text-align: center;
    border: 2px solid darkgrey;
    border-radius: 2px;
}

.dispo {
    background-color: coral;
}

.survole {
    background-color: indianred;
    opacity: .7;
}

.selectionne {
    background-color: orangered;
}

.nonDispo {
    background-color: lightgray;
}

.boutonValiderInactif {
    float: right;
    background-color: orange;
    border: 2px solid red;
    border-radius: 8px;
    padding: 15px;
    margin: 10px 20px;
    font-weight: bold;
    opacity: .6;
}

.boutonValiderActif {
    float: right;
    background-color: orange;
    border: 2px solid red;
    border-radius: 8px;
    padding: 15px;
    margin: 10px 20px;
    font-weight: bold;
}