#entete, #menu, #contenu, #footer {
    padding: 1px 0;
}

#entete {
    background-color: lightcoral;
    text-align: center;
    background: #FF9900 url("/Content/Images/supertuto.png") 5px center no-repeat;
    background-size: 100px;
}

#main {
    margin: auto;
}

#menu {
    float: left;
    width: 240px;
    background-color: lightsalmon;
}

#contenu {
    margin-left: 245px;
    background-color: lightblue;
}

#footer {
    background-color: lightgreen;
    text-align: center;
    clear: both;
}

.titre {
    text-align: center;
}

.selectionne {
    color: red;
}

/************ pour les plannings *********/
.planningContainer {
    width: 100%;
    display: block;
    height: 30px;
    padding: 0px 20px;
}

.cellulePlanning {
    color: blue;
    float: left;
    width: 4.5%;
    padding: 10px 0px;
    text-align: center;
    border: 2px solid darkblue;
    border-radius: 4px;
}

.dispo {
    background-color: coral;
}

.nonDispo {
    background-color: lightgray;
}