@model PitAgora.ViewModels.ParentViewModel
@{
    Layout = "LayoutPrive";

    ViewBag.Title = "Accueil Parent";
}

@section Main{
    <div>
        Vue parent :


        Parent de :  @Model.Eleve.Utilisateur.Personne.Prenom nom : @Model.Eleve.Utilisateur.Personne.Nom

        Je m'appelle @Model.Parent.Utilisateur.Personne.Prenom @Model.Parent.Utilisateur.Personne.Nom
        <br/>
       


    </div>
}