@model PitAgora.Models.Eleve
@{
    Layout = "_Layout";
    ViewBag.Title = "Accueil infos eleve";
}

@section Main{
    <div>
    Vue élève : 

Je suis l'élève prénom @Model.Utilisateur.Personne.Prenom nom : @Model.Utilisateur.Personne.Nom

 <li>Salut @Model.Utilisateur.Personne.Prenom</li>
    </div>
}