@model PitAgora.Models.Professeur
@{
    Layout = "LayoutPrive";

    ViewBag.Title = "Accueil Prof";
}

@section Main{
    <div>
    Vue Prof :


                    prénom @Model.Utilisateur.Personne.Prenom nom : @Model.Utilisateur.Personne.Nom .
                    

<li>Salut @Model.Utilisateur.Personne.Prenom</li>
    </div>
}
