@model PitAgora.Models.Eleve
@{
    Layout = "LayoutPrive";
    ViewBag.Title = "Accueil infos eleve";
}

@section Main{
    <div class="container -fluid">

     
            Bonjour @Model.Utilisateur.Personne.Prenom
            <br/>

        @Html.ActionLink("Reserver un cours", "ChercherCours","Eleve")
    </div>

    
    }
