@model PitAgora.Models.Professeur
@{
    Layout = "_Layout";
    ViewBag.Title = "Accueil Prof";
}

@section Main{
    <div>
    Vue Prof :


                    prénom @Model.Utilisateur.Personne.Prenom nom : @Model.Utilisateur.Personne.Nom .
                    J'enseigne @Model.Matiere1 

<li>Salut @Model.Utilisateur.Personne.Prenom</li>
    </div>
}