@model PitAgora.Models.Eleve
@{
    Layout = "_Layout";
}

@section Fieldset{
    Vue parent : 
}
@section Champ1{
        prénom @Model.Utilisateur.Personne.Prenom nom : @Model.Utilisateur.Personne.Nom
}
 <li>Salut Parent</li>