@{
    Layout = "LayoutGen";
}
@section Main{
    <div class="container-lg">

        <div class="row row-cols-1 row-cols-md-2  text-left">

            <!-- Inscription Parent/responsable légal-->
            <div class="form-group col-mb-2">
                <h3><strong>Parent/responsable légal</strong></h3>

                <div class="form-group col-md-2">
                    <label for="exampleFormControlSelect1">Civilité </label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>M.</option>
                        <option>Mme.</option>
                        <option>Mlle.</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputName">Nom</label>
                    <input type="text" class="form-control" id="inputName">
                    <label for="inputName">Prénom</label>
                    <input type="text" class="form-control" id="inputName">
                </div>
                <div class="form-group col-md-10">
                    <label for="inputAddress">Adresse</label>
                    <input type="text" class="form-control" id="inputAddress">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputZip">Code postal</label>
                    <input type="text" class="form-control" id="inputZip">
                </div>
                <div class="form-group col-md-10">
                    <label for="inputCity">Ville</label>
                    <input type="text" class="form-control" id="inputCity">
                    <label for="exampleInputEmail1" class="form-label">E-mail</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <label for="exampleInputPassword1" class="form-label">Choissisez un Mot de passe</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                    <label for="exampleInputPassword1" class="form-label">Confirmez votre Mot de passe</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Mémoriser</label>
                </div>
                <br>
                <label for="exampleFormControlFile1">Pièce d'indentité</label>
                <br>
                <div class="form-group col-md-3">
                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>
            </div>

            <!-- Inscription Elève(s)-->
            <div class="form-group col-mb-2">
                <h3><strong>Elève à inscrire</strong></h3>

                <div class="form-group col-md-2">
                    <label for="exampleFormControlSelect1">Civilité </label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>M.</option>
                        <option>Mme.</option>
                        <option>Mlle.</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputName">Nom</label>
                    <input type="text" class="form-control" id="inputName">
                    <label for="inputName">Prénom</label>
                    <input type="text" class="form-control" id="inputName">
                </div>
                <div class="form-group col-md-10">
                    <label for="inputAddress">Adresse pour les cours en présentiel</label>
                    <input type="text" class="form-control" id="inputAddress">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputZip">Code postal</label>
                    <input type="text" class="form-control" id="inputZip">
                </div>
                <div class="form-group col-md-10">
                    <label for="inputCity">Ville</label>
                    <input type="text" class="form-control" id="inputCity">
                                        <label for="exampleInputEmail1" class="form-label">E-mail</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <br>
                <label for="exampleFormControlFile1">Pièce d'indentité </label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
                <br>
                <br>
                <button type="submit" class="btn btn-primary">Envoyer</button>
                <br>
                <br>
                <span>Voulez-vous inscrire un autre élève ? </span>  
                <span class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Oui">
                    <label class="form-check-label" for="inlineCheckbox1"> Oui</label>
                </span>
            </div>
        </div>
    </div>

}
