@using PitAgora.Models;
@model List<PitAgora.Models.Creneau>


@{
    Layout = "LayoutPrive";

    ViewBag.Title = "AfficherPlanning";
}

@section Main
    {

    <div> essai planning affichage</div>
    <div> 
        @foreach(var creneau in @Model)
        {

            @creneau.Debut

            @creneau.Professeur.Utilisateur.Personne.Prenom

           
        }

      



    </div>
    }




   




    }



