@using PitAgora.Models;
@model List<PitAgora.Models.Creneau>


@{
    Layout = "LayoutPrive";

    ViewBag.Title = "AfficherPlanning";
}

@section navbar{
<ul class="navbar-nav">

    <li class="nav-item">
        <a class="nav-link " href=@Url.Action("AccueilProf", "Professeur")>
            Accueil
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href=@Url.Action("Deconnexion", "Login")>
            Déconnexion
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href=@Url.Action("AfficherPlanning", "Professeur")>
            Planning
        </a>
    <li class="nav-item">
        <a class="nav-link" href=@Url.Action("Contact", "Home")>
            Contact
        </a>
    </li>

</ul>
}

@section Main
    {

    <div> essai planning affichage</div>
    <div> 
        @foreach(var creneau in @Model)
        {

            @creneau.Debut

            @creneau.Professeur.Utilisateur.Personne.Prenom

           
        }

      



    </div>
    }




   




    }



