@using PitAgora.Models;
@model List<PitAgora.Models.Creneau>


@{
    Layout = "LayoutPrive";

    ViewBag.Title = "AfficherPlanning";
}

@section Main
    {


        <div>  Créneaux disponibles :   </div>

    @foreach (var creneau in @Model)
    {

            <div> @creneau.Debut </div>


    }




    }









    }



