@model PitAgora.ViewModels.CrediterViewModel
@{
    Layout = "LayoutPrive";
    ViewBag.Title = "Versement credit cours";
}
@section css{
    <link href="~/css/Paiement.css" rel="stylesheet" />
}

@section navbar{
    <ul class="navbar-nav">

        <li class="nav-item">
            <a class="nav-link " href=@Url.Action("AccueilParent", "Parent")>
                Accueil
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href=@Url.Action("Deconnexion", "Login")>
                Déconnexion
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href=@Url.Action("CrediterEleve", "Parent")>
                Alimenter Crédit Cours
            </a>
        <li class="nav-item">
            <a class="nav-link" href=@Url.Action("Contact", "Home")>
                Contact
            </a>
        </li>

    </ul>
}

@section Main{
    <form method="post" action="~/Parent/CrediterEleve">
        <div class="container p-0">
            <div class="card px-4">
                <p class="h8 py-3">Alimenter Crédit Cours</p>

                 @Html.LabelFor(m=>m.Montant)
                 @Html.TextBoxFor(m=>m.Montant)
                 @Html.LabelFor(m=>m.EleveId)
                 @Html.TextBoxFor(m=>m.EleveId)
                 <input type="submit" value="Valider le paiement"/>
            </div>
        </div>
    </form>
}