@model PitAgora.ViewModels.ParentViewModel
@{
    Layout = "LayoutPrive";
    ViewBag.Title = "Versement credit cours";
}
@section css{
    <link href="~/css/Paiement.css" rel="stylesheet" />
}

@section Main{
    <form method="post" action="~/Parent/CrediterEleve/">
        <div class="container p-0">
            <div class="card px-4">
                <p class="h8 py-3">Alimenter Crédit Cours</p>
                <p class="h8 py-3"> de @Model.Eleve.Utilisateur.Personne.Prenom</p>

                <div class="row gx-3">
                    <div class="col-12">
                        <div class="d-flex flex-column">
                            <p class="text mb-1">Person Name</p>
                            <input class="form-control mb-3" type="text" placeholder="Titulaire de la carte">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="d-flex flex-column">
                            <p class="text mb-1">Numéro de la carte<p>
                                <input class="form-control mb-3" type="text" placeholder="4909 3456 5478 9392">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="d-flex flex-column">
                            <p class="text mb-1">Date d'expiration</p>
                            <input class="form-control mb-3" type="text" placeholder="MM/YYYY">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="d-flex flex-column">
                            <p class="text mb-1">CVV/CVC</p>
                            <input class="form-control mb-3 pt-2 " type="password" placeholder="***">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="btn btn-primary mb-3">
                            <span class="ps-3">Alimenter</span>
                            <span class="fas fa-arrow-right"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
}